@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .wrapper {
        @apply max-w-[1440px] my-0 mx-auto
    }
}

.scrollable::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: #e2e8f0;
  }